strong{
  font color:lightgrey;
}
button{
  padding:10px;
  margin:2px;
  font-weight: bold;
  font-family:"Arial";
  font-size:18px;
  width:177px;
  border-radius:10px;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  background-color: #666666;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
button:before{
  content:"\2605 \0020";
}
button:after{
  content:"\0020 \2605";
}
div{
  border:1px solid rgb(142, 143, 156);
  width:180px;
  padding:3px;
  border-radius:14px;
  background:linear-gradient(to bottom, rgb(215, 215, 219),rgb(223, 223, 230))
}