body {
  padding: 30px;
  font: 12pt/10pt sans-serif;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
}
header, article, section, .module {
  padding: 1rem;
}
#flexContainer{
  display:flex;
}