div {
	height: 300px;
	width: 400px;
    border-radius:5px;
    padding:10px;
}

.first {
	background:#738235;
	position: relative;
}

.second {
	background: #a1b553;
}

.third{
	background: #e0f783;
}

.second,
.third {
  position: absolute;
	bottom: 5px;
	right: 5px;
}