body {
  padding: 30px;
  font: 12pt/10pt sans-serif;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 75%;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 25%;
}
header, article, section, .module {
  padding: 1rem;
}
#gridContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
}