.slaider{
    width: 600px;
    text-align: center;
    margin: 0 auto; 
}
.photo{
    position: relative;
    height: 400px;
}
.photo img{
    width: 100%;
    position: absolute;
    opacity: 0;
    height:400px;
    left: 0;
    transition: opacity 1s;
    transition-duration: 2.5s;
}
.photo img.current{
     opacity: 2;
}
.prev:hover, .next:hover{
    background: rgb(255, 199, 14);
}
.prev:active, .next:active{
    background: chartreuse;
}
.prev , .next{
    border-radius:50%
}
.buttons{
    display:flex;
    justify-content: space-between;
}