.basics{
  background-color:grey;
  border-style:dotted;
  border-width:0.1in;
}
.description{
  background-color:green;
}
.links{
  background-color:#00ADFF;
  width:200pt;
}
.tables{
  border-style:dashed;
  border-radius:0.1in;
}
img{
  height:300px;
  width:400px;
}
h4,h2{
 font-family:"Calibri";
 color:lightgreen;
}