*{
  margin:0;
  padding:0;
  outline:none;
}
body{
  width:100%;
  height:100%;
  background: #5d6ade;
}
header,footer{
  width: 100%;
  min-height: 55px;
  background: #0067A3;
}
header{
  position:absolute;
  border-bottom:2px solid silver;
}
footer{
  position:absolute;
  left:0;
  bottom:0;
  border-top:2px solid silver;
  margin-top:10px;
}
#logo{
position: absolute;
width: 45px;
height: 45px;
left: 0px;
top: 0px;
}

#title{
position: absolute;
width: 331px;
height: 26px;
left: 53px;
top: 6px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
}

#activeTasks{
  position: absolute;
  width: 138px;
  height: 21px;
  left: 67px;
  top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
#finishedTasks{
  position: absolute;
  width: 159px;
  height: 21px;
  left: 241px;
  top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
#field{
  position: absolute;
  width: 181px;
  height: 33px;
  right: 60px;
  top: 10px;
  background: #FFFFFF;
  border-radius: 5px;
}
#create{
  position: absolute;
  width: 140px;
  height: 18px;
  right: 55px;
  top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
#plus{
  position: absolute;
  width: 25px;
  height: 25px;
  right: 200px;
  top: 14px;
  text-align:center;
  border-radius:9px;
}
#plus:hover{
  background:lightblue;
}
#plus:active{
  background:lightgreen;
}
#rules{
position: absolute;
width: 279px;
height: 21px;
left: 849px;
top: 17px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

